IO_LOC "sys_clk" V22;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF;

IO_LOC "s0" AA13;        // active low
IO_PORT "s0" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "hdmi_hpd" K13;
IO_PORT "hdmi_hpd" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// HDMI
IO_LOC "tmds_clk_p" G15;
IO_PORT "tmds_clk_p" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_clk_n" G16;
IO_PORT "tmds_clk_n" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[0]" J14;
IO_PORT "tmds_d_p[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[0]" H14;
IO_PORT "tmds_d_n[0]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[1]" J15;
IO_PORT "tmds_d_p[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[1]" H15;
IO_PORT "tmds_d_n[1]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_p[2]" K17;
IO_PORT "tmds_d_p[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;
IO_LOC "tmds_d_n[2]" J17;
IO_PORT "tmds_d_n[2]" PULL_MODE=NONE IO_TYPE=LVCMOS33D;

// UART to BL616
IO_LOC "UART_RXD" V14;
IO_LOC "UART_TXD" U15;
IO_PORT "UART_RXD" IO_TYPE=LVCMOS33;
IO_PORT "UART_TXD" IO_TYPE=LVCMOS33;

// USB1 and USB2 (usb1 is on the left)
IO_LOC  "usb1_dp" H13;
IO_PORT "usb1_dp" IO_TYPE=LVCMOS33;
IO_LOC  "usb1_dn" G13;
IO_PORT "usb1_dn" IO_TYPE=LVCMOS33;
IO_LOC  "usb2_dp" M15;
IO_PORT "usb2_dp" IO_TYPE=LVCMOS33;
IO_LOC  "usb2_dn" M16;
IO_PORT "usb2_dn" IO_TYPE=LVCMOS33;

// Joystick on pmod1
IO_LOC  "ds_cs"  W19;		// PMOD1_IO0
IO_PORT "ds_cs" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_mosi" F19;		// PMOD1_IO2
IO_PORT "ds_mosi" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_miso" E22;		// PMOD1_IO4
IO_PORT "ds_miso" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "ds_clk" E21;		// PMOD1_IO6
IO_PORT "ds_clk" PULL_MODE=NONE IO_TYPE=LVCMOS33;

IO_LOC  "ds_cs2"  W20;		// PMOD1_IO1
IO_PORT "ds_cs2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_mosi2" F20;		// PMOD1_IO3
IO_PORT "ds_mosi2" PULL_MODE=NONE IO_TYPE=LVCMOS33;
IO_LOC  "ds_miso2" D22;		// PMOD1_IO5
IO_PORT "ds_miso2" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_LOC  "ds_clk2" D21;		// PMOD1_IO7
IO_PORT "ds_clk2" PULL_MODE=NONE IO_TYPE=LVCMOS33;

// LED on pmod0
IO_LOC  "led[0]" B22;   // PMOD0_IO7
IO_LOC  "led[1]" C22;   // PMOD0_IO6
IO_LOC  "led[2]" E18;   // PMOD0_IO5
IO_LOC  "led[3]" F18;   // PMOD0_IO4
IO_LOC  "led[4]" G22;   // PMOD0_IO3
IO_LOC  "led[5]" G21;   // PMOD0_IO2
IO_LOC  "led[6]" V19;   // PMOD0_IO1
IO_LOC  "led[7]" V18;   // PMOD0_IO0
IO_PORT "led[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// RGB screen
IO_LOC "sc_de" U22;
IO_PORT "sc_de" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "sc_vs" L15;
IO_PORT "sc_vs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "sc_hs" N20;
IO_PORT "sc_hs" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "sc_clk" L19;
IO_PORT "sc_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[7]" M20;
IO_PORT "b_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[6]" L16;
IO_PORT "b_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[5]" K16;
IO_PORT "b_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[4]" N18;
IO_PORT "b_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[3]" N19;
IO_PORT "b_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[2]" M18;
IO_PORT "b_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[1]" L18;
IO_PORT "b_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "b_out[0]" U8;
IO_PORT "b_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[7]" K19;
IO_PORT "g_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[6]" N22;
IO_PORT "g_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[5]" M22;
IO_PORT "g_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[4]" M21;
IO_PORT "g_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[3]" L21;
IO_PORT "g_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[2]" K18;
IO_PORT "g_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[1]" L14;
IO_PORT "g_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "g_out[0]" L20;
IO_PORT "g_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[7]" K21;
IO_PORT "r_out[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[6]" K22;
IO_PORT "r_out[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[5]" J22;
IO_PORT "r_out[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[4]" H22;
IO_PORT "r_out[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[3]" G17;
IO_PORT "r_out[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[2]" G18;
IO_PORT "r_out[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[1]" J20;
IO_PORT "r_out[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
IO_LOC "r_out[0]" J21;
IO_PORT "r_out[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=24 BANK_VCCIO=3.3;
